*:not(#descrition){ /* global (pega em todo documento) */
    margin: 0px;
    background-color: #000;
    color:cyan;
    
}


#login input {
   margin: 10px;
  
}



body {

    width: 100%;
    
    
  

}


    

/* class (def, raid, carro)*/
#navigation {
    
    display: flex;
    margin: 10px;
    text-align: center;
    
    
    background-color:black;
 
}

#navigation div{
    margin: 10px;
}


img {
    width: 300px;
    height: 380px;
    
   
    
}


header {

    width: 100%;
    color: aqua;
    text-align: left;
  
}


h4 { /* element(h1,h2,p,div) */
    font-size: 40px;
    text-align: center; 
    color: aliceblue;
    
}



#btt {
    width: 45px;
    height: 22px;
    margin-bottom: 50px;
    border-style:double;
    border-radius: 10px;
 
    
    
}

#descrition {
    resize: none;
    width: 280px;
    height: 100px;
    margin: 10px;
    font-size: 16px;
    border-radius: 12px;
    background-image:url(./img/monster.jpeg);
  
     
}


